* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-tet.pc.in -text
/apertium-tet.post-tet.dix -text
/apertium-tet.tet.acx -text
/apertium-tet.tet.dix -text
/apertium-tet.tet.rlx -text
/autogen.sh -text
/configure.ac -text
dev/editdist.py -text
/modes.xml -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
/tet.prob -text svneol=unset#unset
